<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Libreria Digital</title>
</head>
<body>
    <form action="/api/productos" method="post">
        Title: <input type="text" name="title" id=""><br>
        Price: <input type="number" name="price" id=""><br>
        Thumbnail: <input type="file" name="thumbnail" id=""><br>

        <button type="submit">Agregar</button>
    </form>
</body>
</html>