<div id="messages"></div>

<form onsubmit="return sendMessage(this)">

    <div class="row mb-3">
        <input type="email" class="form-control" id="username" placeholder="Email del usuario" required>
    </div>
    
    <div class="row mb-3">
        <input type="text" class="form-control" id="text" placeholder="Escriba el mensaje que desea enviar">
    </div>
    <input type="submit" class="btn btn-primary" value="Enviar">

</form>