<% if (list.lenght == 0) { %>
    <h2>No hay libros</h2>
<% } else { %>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Titulo</td>
                <th scope="col">Precio</td>
                <th scope="col">Thumbnail</td>
            </tr>
        </thead>
        <tbody>
            <% list.forEach(function(libro) { %>
                <tr>
                    <td><%= libro.title %></td>
                    <td><%= libro.price %></td>
                    <td><img src="<%= libro.thumbnail %>" class="img-thumbnail" width="100px" alt="No image"></td>
                </tr>
            <% }) %>

        </tbody>
    </table>
<% } %>